{% extends '/templates/app.twig' %}

{% block content %}
		<form action="{{ path_for('auth.signup') }}" method="post" class="form-registration" autocomplete="off">
			<label for="email">Емэйл:</label>
			<input type="email" name="email" required id="email" placeholder="youremail@ya.ru">
			
			<label for="namecat">Имя котика:</label>
			<input type="text" name="namecat" required id="namecat" placeholder="Pretty Kitty">

			<label for="weight">Вес котика(кг):</label>
			<input type="text" name="weight" required id="weight" placeholder="1,5">

			<label for="sex">Пол:</label>
			<select name="sex" id="sex">
				<option value="1" name='cat'>Кот</option>
				<option value="0" name='catty'>Кошечка</option>
			</select>			
	
			<label for="years">Возраст котика:</label>
			<input type="text" name="years" required id="years" placeholder="3">

			<label for="breed">Порода:</label>
			<select name="breed" id="breed">
				<option value="Krasno">Сиамский</option>
				<option value="Siam">Краснозернский</option>
			</select>

			<label for="password">Пароль:</label>
			<input type="password" required name="password" placeholder="*****">
			<label for="passwordagain">Пароль еще раз:</label>
			<input type="password" required name="passwordagain" id="passwordagain" placeholder="*****">
			<input type="submit" name="go_reg" value="Зарегистрироваться">
		</form>
{% endblock %}