
		<div class="cats-nearly-me">
			<h2>Рядом со мной живут вот эти ребята:</h2>
				<div class="img-cat__cats-nearly-me">
					<img src="http://www.lorempixel.com/200/200/cats" alt="">
				</div>
				<div class="img-cat__cats-nearly-me">
					<img src="http://www.lorempixel.com/200/200/cats" alt="">
				</div>
				<div class="img-cat__cats-nearly-me">
					<img src="http://www.lorempixel.com/200/200/cats" alt="">
				</div>
		</div>
		<!-- end cats nearly me -->