

		<div class="my-addres">
			<h2>Хотите услышать больше интересных историй? - приходите в гости</h2>
			<p class="about-addres">я живу по адресу пр.Котический 99-19<br>где это смотри на карте</p>
			<div class="maps-addres"><script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=7P05sUu-bPDQem-tLWc1ricKdiV4D33C&amp;width=100%25&amp;height=400&amp;lang=ru_RU&amp;sourceType=constructor&amp;scroll=true"></script></div>
		</div>
		<!-- end my-addres -->
