        <article style="border-bottom:2px solid gray;" class="cat-message">
            <div class="right-part__cat-message">
                <div class="date-message">{{ created_at }}</div>
                <a class="creator-message">{{ cat }}</a>
                <div class="content-message">{{ content }}</div>
            </div>
        </article>

