// base colors 
$body-background: rgb(255, 232, 223);
$common-text: rgb(255, 121, 68);
$header-color: rgb(235,155,85);
$header-h1-color: rgb(245, 205, 170);
$link-color: rgb(235,141,7);
$a-block-color: rgb(255, 243, 244);
$a-block-color-hover: rgb(223, 123, 12);
$text-color:rgb(172, 175, 188);