<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="/design/css/common/app.css">
	{% block header %}{% endblock %}
</head>
<body>
	<header class="main-header">
		<div class="logo">
			<img src="/design/images/40ee1abe35cc01ed7e1eae82324bdda6.png" height="1024" width="890" alt="">
		</div>
		<h1>Сайтик для котиков и их любителей</h1>
		<div class="right-top-block">
			<div class="mail">
				<a href="mailto:kitten@kitten.ru">kitten@kitten.ru</a>
			</div>
			<div class="tel">
				<a href="tel:8-999-999-9999"> 8-999-999-9999</a>
			</div>	
			{% if auth.check %}
				<div class="login-form"> 
					<a href="{{ path_for('auth.signout') }}" class="logout">выйти</a>
					<a href="{{ path_for('profile.show') }}" class="cat-profile">профиль</a>
				</div>
			{% else %}
				<div class="login-form"> 
					<a href="#" class="login">войти</a>
					<form action="{{ path_for('auth.signin')}}" method="post">
						<a href="#" class="close-login-form"></a>
						<input type="email" name="email" placeholder="kittty@mail.kitty">
						<input type="password" name="password" placeholder="*****">
						<input type="submit" value="войти" name="go">
						<a href="" class="forget-pass">забыли пароль?</a>
						<a href="{{ path_for('auth.signup') }}" class="registration">регистрация</a>
					</form>
				</div>
			{% endif %}
		</div>
		{# end right-top-block #}
	</header>
	<nav class="top-nav">
		<ul>
			<li><a href="/public">Главная</a></li>
			<li><a href="/public/news">Новости</a></li>
			<li><a href="/public/cats">Котики</a></li>
			<li><a href="/public/discussion">Обсуждения</a></li>
			<li><a href="/public/contacts">Контакты</a></li>
		</ul>
	</nav>
	<div class="breadcrumbs">
		<a href="">link1</a>
		<a href="">link2</a>
		<a href="">link3</a>
	</div>
	<main class="main-content">
		<h1>{% block h1 %}{% endblock %}</h1>
		{% block content %}{% endblock %}

	</main>
	
	<footer class="main-footer">
		<div class="left-footer-block">
			Котики 2017
		</div>
		<div class="right-footer-block">
			<div class="mail"><a href="mailto:kitten@kitten.ru">kitten@kitten.ru</a></div>
			<div class="tel"><a href="tel:8-999-999-9999"> 8-999-999-9999</a></div>
		</div>
	</footer>
	{% block script %}{% endblock %}
</body>
</html>