{% extends '/templates/app.twig' %}

{% block header %}
	<link rel="stylesheet" href="/design/css/cats/app.css">
	<title>Поиск котиков</title>
{% endblock %}

{% block h1 %}
	Поиск котиков
{% endblock %}

{% block content %}
    {% include '/cats/searchfilter.twig' %}
    {% include '/cats/listcats.twig' %}
    <div class="pagination">
        <a href="" class="pagination-item">1</a>
        <a href="" class="pagination-item">2</a>
        <a href="" class="pagination-item">3</a>
        <a href="" class="pagination-item">4</a>
        <a href="" class="pagination-item">5</a>
        <a href="" class="pagination-item">6</a>
    </div>
{% endblock %}

{% block script %}

{% endblock %}

