
    <div class="list-cats">
        <article class="cat">
            <div class="img-cat">
                <img src="http://www.lorempixel.com/200/200/cats" alt="">
            </div>
            <div class="data-cat">
                <div class="name-cat__data">Мурзик</div>
                <div class="sex_cat__data">Кот</div>
                <div class="year_cat__data">15 лет</div>
                <div class="weight_cat__data">1.5 кг</div>
                <div class="breed-cat__data">Симаский</div>
                <a href="" class="full-cat-link">на страницу этого котика</a>
            </div>
        </article>
        <article class="cat">
            <div class="img-cat">
                <img src="http://www.lorempixel.com/200/200/cats" alt="">
            </div>
            <div class="data-cat">
                <div class="name-cat__data">Мурзик</div>
                <div class="sex_cat__data">Кот</div>
                <div class="year_cat__data">15 лет</div>
                <div class="weight_cat__data">1.5 кг</div>
                <div class="breed-cat__data">Симаский</div>
                <a href="" class="full-cat-link">на страницу этого котика</a>
            </div>
        </article>
        <article class="cat">
            <div class="img-cat">
                <img src="http://www.lorempixel.com/200/200/cats" alt="">
            </div>
            <div class="data-cat">
                <div class="name-cat__data">Мурзик</div>
                <div class="sex_cat__data">Кот</div>
                <div class="year_cat__data">15 лет</div>
                <div class="weight_cat__data">1.5 кг</div>
                <div class="breed-cat__data">Симаский</div>
                <a href="" class="full-cat-link">на страницу этого котика</a>
            </div>
        </article>
        <article class="cat">
            <div class="img-cat">
                <img src="http://www.lorempixel.com/200/200/cats" alt="">
            </div>
            <div class="data-cat">
                <div class="name-cat__data">Мурзик</div>
                <div class="sex_cat__data">Кот</div>
                <div class="year_cat__data">15 лет</div>
                <div class="weight_cat__data">1.5 кг</div>
                <div class="breed-cat__data">Симаский</div>
                <a href="" class="full-cat-link">на страницу этого котика</a>
            </div>
        </article>
        <article class="cat">
            <div class="img-cat">
                <img src="http://www.lorempixel.com/200/200/cats" alt="">
            </div>
            <div class="data-cat">
                <div class="name-cat__data">Мурзик</div>
                <div class="sex_cat__data">Кот</div>
                <div class="year_cat__data">15 лет</div>
                <div class="weight_cat__data">1.5 кг</div>
                <div class="breed-cat__data">Симаский</div>
                <a href="" class="full-cat-link">на страницу этого котика</a>
            </div>
        </article>
    </div>