    <div class="search-cat">
        <div class="filter">
            <fieldset calss="name-a-sex">
                <div class="wrap-name">
                    <label for="name">Имя:</label>
                    <input type="text" class="name" name="name" placeholder="name">
                </div>
                <div class="wrap-sex">
                    <label for="sex">Пол:</label>
                    <input name="sex" type="radio" value="cat">Кот
                    <input name="sex" type="radio" value="catty">Кошечка
                </div>
            </fieldset>

            <fieldset class="age-and-weight">
                <div class="wrap-age">
                    <label for="from_age">От:</label>
                    <input type="text" size="5" name="from_age" placeholder="от" id="from_age">
                    <label for="to_age">До:</label>
                    <input type="text" size="5" name="to_age" placeholder="до">лет
                </div>

                <div class="weight-cat">
                    Вес:
                    <div class="polzunok"></div>
                </div>
            </fieldset>

            <fieldset class="breed-fieldset">
                <div class="wrap-breed">
                    <label for="breed-cat">Порода</label>
                    <select name="breed-cat" id="" class="breed-cat">
                        <option value="samar">Самарские</option>
                        <option value="siam">Сиамские</option>
                    </select>
                </div>

                <input type="submit" class="button-search-cat" value="Искать котика">
            </fieldset>

        </div>
    </div>